<html>
<head>
<title>FESTIVOW</title>
<!-- Include CSS File Here -->
<link href="{{ url_for('static',filename='submit_javascript.css')}}" rel=stylesheet type="text/css">
<!-- Include JS File Here 
<script src="submit_javascript.js"></script>
-->
</head>
<body>
<div class="container">
<div class="main">
<form action="#" method="post" name="form_name" id="form_id" class="form_class" >
<h1>FESTIVOW</h1>
<h2>Register Now!</h2>
<label>Name :</label>
<input type="text" name="name" id="name" placeholder="Name" />
<label>Password :</label>
<input type="password" name="password" id="password" placeholder="Password" />
<label>Email :</label>
<input type="text" name="email" id="email" placeholder="Valid Email" />
<input type="button" name="submit_id" id="btn_id" value="Submit" onclick="submit_by_id()"/>
</form>
</div>
</div>

<script>
	loadScript("./static/submit_javascript.js", function(){
    //initialization code
});
	function loadScript(url, callback){

    var script = document.createElement("script")
    script.type = "text/javascript";

    if (script.readyState){  //IE
        script.onreadystatechange = function(){
            if (script.readyState == "loaded" ||
                    script.readyState == "complete"){
                script.onreadystatechange = null;
                callback();
            }
        };
    } else {  //Others
        script.onload = function(){
            callback();
        };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
}

</script>
</body>
</html>